<!-- https://www.youtube.com/watch?v=eeHqZeJ9Vqc -->
<!DOCTYPE html>
<html lang="an">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
    <title>LoControl • Login</title>
</head>
<body>
    <div class="center">
        <h1>Login</h1>
        <form action="{{ url_for('login') }}" method="post">
            <div class="txt_field">
                <input type="text" id="username" name="username" required>
                <span></span>
                <label for="username">Username</label>
            </div>
            <div class="txt_field">
                <input type="password" id="password" name="password" required>
                <span></span>
                <label for="password">Password</label>
            </div>
            <input type="submit" value="Login">
        </form>
    </div>

    <!-- <form action="{{ url_for('login') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <input type="submit" value="Login">
    </form> -->
</body>
</html>
